@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@font-face {
    font-family: "AvenirNextLTPro-Bold";
    src: url(../fonts/AvenirNextLTPro-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "AvenirNextLTPro-It";
    src: url(../fonts/AvenirNextLTPro-It.otf) format('opentype');
}

@font-face {
    font-family: "AvenirNextLTPro-Regular";
    src: url(../fonts/AvenirNextLTPro-Regular.otf) format('opentype');
    font-weight: normal;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1440px;
    margin: auto;
    background: #101010;
    border-radius: 30px;
    padding: 20px;
}

/* Dashboard Sidebar */
.sidebar-inner {
    padding: 60px;
}

.user-info {
    margin-bottom: 116px;
}

.user-img {
    position: relative;
}

.user-img img {
    width: 72px;
    height: 72px;
    border-radius: 13px;
}

.user-img p {
    width: 29px;
    height: 29px;
    line-height: 29px;
    display: block;
    text-align: center;
    border-radius: 100%;
    background: #DC3434;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    position: absolute;
    top: -14px;
    left: 56px;
}

h2.user-name {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    margin-top: 12px;
}

p.user-email {
    color: #ffffff98;
    font-size: 17px;
    font-weight: 400;
}

.user-menu ul li {
    list-style: none;
    margin-bottom: 30px;
}

.user-menu ul li a {
    text-decoration: none;
    color: #ffffff98;
    font-size: 25px;
    transition: .3s;
}

.user-menu ul li a:hover {
    color: #ffffff;
}

/* Dashboard content */
.dashboard-content {
    background: #ffffff;
    border-radius: 30px;
}